/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hidedefaultvalue {
  display: none;
}
.showfaultvalue {
  display: block;
}
.divmargenclstable {
  margin-left: 8%;
  margin-bottom: 5%;
}
.divheightaccount {
  min-height: 100px;
}
.exampleHolder {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  background-color: #f7f7f7;
}
/*New Css*/
.banner-div {
  margin: -35px -12px 0 -12px;
  position: relative;
}
.banner-img {
  height: 116px;
  width: 100%;
}
.banner-text {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 50%;
  top: 25%;
  left: 25%;
  font-size: 30px;
}
.bread-crumb {
  margin-left: 0%;
}
.tab-div {
  margin-left: 0%;
  margin-right: 0%;
}
.cust-info-div {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 2% 0%;
  border: 1px solid #ddd;
}
.lab-btn {
  margin-bottom: 0px;
}
.cust-data {
  margin-left: 2%;
  color: #000000;
  font-size: 16px;
}
.table-comp-div {
  margin-bottom: 2%;
  background-color: white;
  border: 1px solid #ddd;
}
.filter-div {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.filter-icon-div {
  margin-top: 23px;
}
.ledger-statement-btn {
  background-color: #00bdf2;
  color: #fff;
  border: none;
  padding: 5px 25px;
  font-size: 14px;
  margin-top: 24px;
}
.quarter-div {
  width: 20%;
}
.year-div {
  width: 14%;
}
.table-head-div {
  margin-top: 2%;
  margin-right: 28px;
}
.table-head {
  color: #888888;
  font-size: 12px;
}
.error-div {
  background-color: white;
  border: 1px solid #ddd;
  margin-top: 2%;
}
.head-element,
.table-element {
  height: 33px;
  width: 12.5%;
}
.head-element-combine,
.table-element-combine {
  width: 39%;
}
.merge-table1 {
  width: 29%;
}
.merge-table2 {
  width: 70%;
}
.head-element-doc,
.table-element-doc {
  height: 40px;
  width: 15.5%;
}
.head-element-special1,
.table-element-special1 {
  width: 10.5%;
}
.head-element-special2,
.table-element-special2 {
  width: 12.5%;
}
.open-bal-div,
.close-bal-div {
  display: flex;
  height: 40px;
  background-color: #ebebeb;
  margin-top: -12px;
  margin-left: 12px;
  margin-right: -12px;
  align-items: center;
  justify-content: space-between;
}
.bf-text {
  margin-left: 12px;
  width: 63%;
}
.bf-data {
  width: 13%;
}
.bf-data2 {
  width: 24%;
}
.close-bal-div {
  margin-top: 0;
}
.cf-text {
  margin-left: 12px;
  width: 63%;
}
.cf-data {
  width: 13%;
}
.cf-data2 {
  width: 24%;
}
.customer-total-div {
  display: flex;
  height: 45px;
  font-size: 16px;
  background-color: rgb(38 64 138);
  color: white;
  margin-left: 12px;
  margin-right: -12px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.customer-total-text {
  margin-left: 12px;
  width: 39%;
}
.customer-total-debit {
  width: 32%;
  text-align: right;
}
.customer-total-credit {
  width: 24%;
}
.table-body-data {
  color: #000000;
}
.table-data-scroll {
  width: 101%;
  height: 495px;
  overflow-y: auto;
  overflow-x: hidden;
}
/*.table-data-scroll::-webkit-scrollbar {
    width: 0;
  }*/
.acc-table-data-scroll {
  width: 101%;
  height: 495px;
  overflow-y: auto;
  overflow-x: hidden;
}
/*.acc-table-data-scroll::-webkit-scrollbar {
    width: 0;
  }*/
.download-div {
  margin: 17px 0 17px 12px;
}
.dwnld-btn {
  border: 2px solid rgb(255 136 51);
  padding: 7px 17px;
  background-color: white;
  color: black;
}
.download-icon {
  padding-right: 10px;
}

.acc-statement-div {
  background-color: #fff;
  border: 1px solid #ddd;
}
.acc-head-element,
.acc-table-element {
  height: 40px;
  width: 20%;
}
.acc-filter-div {
  display: flex;
  justify-content: space-between;
}
.acc-customer-num-div {
  width: 25%;
}

.acc-date-filter {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: -1%;
}
.acc-statement-filter {
  width: 22%;
  margin-right: 1%;
}
.acc-year-div {
  width: 25%;
}
.acc-start-date,
.acc-end-date {
  width: 35%;
}
.acc-filter2-div {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.acc-doc-filter {
  width: 25%;
}
.acc-st-btn {
  margin-left: 2%;
}
.reset-div {
  margin-left: 2%;
}
.reset-btn {
  background-color: grey;
  color: #fff;
  border: none;
  padding: 5px 25px;
  font-size: 14px;
  margin-top: 24px;
}
.acc-table-head-div {
  margin-right: 28px;
}
.acc-total-div {
  display: flex;
  height: 45px;
  font-size: 16px;
  background-color: rgb(38 64 138);
  color: white;
  margin-left: 12px;
  margin-right: -12px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.acc-total-text {
  margin-left: 12px;
  width: 60%;
}
.acc-total-debit {
  width: 20%;
}
.acc-total-credit {
  width: 20%;
}
.no-record-error {
  text-align: center;
  color: red;
  font-size: 20px;
  padding-bottom: 4%;
  padding-top: 4%;
}
.doc-types-div {
  margin-bottom: 6%;
  margin-top: 3%;
}
.doc-desc {
  font-size: 28px;
  font-family: "NotoSansLight";
  margin-bottom: 2%;
}
.main-doc-value-div {
  display: flex;
  justify-content: space-between;
}
.doc-value-left-div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.doc-value-right-div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.single-doc-block-left {
  width: 50%;
}
.single-doc-block-right {
  width: 50%;
}
.doc-row {
  margin-bottom: 3%;
  font-size: 13px;
}
.doc-space {
  display: inline-block;
  width: 12%;
}
.orderDataClass {
  font-weight: bold;
}
.borderleft {
  border-left: 1px solid #e5e5e5;
}
.borderbottom {
  padding-bottom: 1%;
  border-bottom: 1px solid #dddddd;
}
.headingClass {
  font-size: 22px;
  color: #000000;
}
.mob-dis-b{
  display:none;
}
@media only screen and (max-width: 1232px) {
  .cust-data-text {
    font-size: 14px;
  }
  .cust-data {
    font-size: 14px;
  }
  .ledger-statement-btn {
    padding: 6px 20px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 1120px) {
  .cust-data-text {
    font-size: 13px;
  }
  .cust-data {
    font-size: 13px;
  }
}
@media only screen and (max-width: 1024px) {
  .table-data-scroll {
    width: 101%;
  }
  .acc-table-data-scroll {
    width: 100%;
  }
  .tab-div {
    margin-left: 0%;
    margin-right: 0%;
  }
  .bread-crumb {
    margin-left: 0%;
  }
  .ledger-statement-btn {
    padding: 7px 16px;
    font-size: 13px;
  }
  .reset-btn {
    padding: 7px 16px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 912px) {
  .ledger-table-head-width {
    width: 120%;
  }
  .table-data-scroll {
    width: 121%;
    overflow-x: hidden;
  }
  .table-no-scroll {
    width: 120%;
  }
  .open-bal-div,
  .close-bal-div,
  .customer-total-div {
    width: 120%;
  }
  .table-head-div {
    overflow-x: auto;
    margin-right: 12px;
  }
}
@media only screen and (max-width: 894px) {
  .cust-data-text {
    font-size: 11px;
  }
  .cust-data {
    font-size: 11px;
    margin-left: 3%;
  }
  .acc-filter-div {
    display: block;
    padding-bottom: 0;
  }
  .acc-customer-num-div {
    width: 100%;
  }
  .acc-date-filter,
  .acc-statement-filter {
    width: 100%;
    padding: 0 12px;
    margin: 0;
  }
  .acc-doc-filter {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .table-data-scroll {
    overflow-x: visible;
  }
  .acc-table-data-scroll {
    overflow-x: visible;
  }
  .table-data-scroll::-webkit-scrollbar {
    width: 0;
  }
  .acc-table-data-scroll::-webkit-scrollbar {
    width: 0;
  }
  .table-head-div {
    overflow-x: auto;
    margin-right: 12px;
  }
  .ledger-table-head-width {
    width: 135%;
  }
  .table-data-scroll {
    width: 135%;
    overflow-x: hidden;
  }
  .table-no-scroll {
    width: 135%;
  }
  .close-bal-div,
  .open-bal-div,
  .customer-total-div {
    width: 135%;
  }
  .cust-data-text {
    font-size: 10px;
  }
  .cust-data {
    font-size: 10px;
  }
  .filter-div {
    justify-content: center;
  }
  .quarter-div{
    width: 29%;
  }
  .year-div {
    width: 21%;
  }
  .doc-row {
    margin-bottom: 1%;
  }
  .doc-value-left-div,
  .doc-value-right-div {
    display: block;
  }
  .single-doc-block-left,
  .single-doc-block-right {
    width: 100%;
  }
  .ledger-statement-btn,
  .reset-btn {
    padding: 9px 12px;
    font-size: 11px;
  }
}
@media only screen and (max-width: 767px) {
  .filter-div {
    display: block;
  }
  .quarter-div,
  .year-div {
    width: 100%;
    padding-right: 2%;
  }
  .mobile-ledger-statement-btn {
    text-align: center;
  }
  .borderleft {
    border-left: 0;
  }
  .hidePadding {
    padding: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .cust-data-text {
    font-size: 8px;
  }
  .cust-data {
    font-size: 8px;
  }

  .table-data-scroll {
    width: 220%;
  }
  .ledger-table-head-width {
    width: 220%;
  }
  .open-bal-div,
  .close-bal-div,
  .customer-total-div {
    width: 220%;
  }
  .table-no-scroll {
    width: 220%;
  }
  .acc-table-head-div {
    overflow-x: auto;
    margin-right: 12px;
  }
  .acc-table-head-width {
    width: 160%;
  }
  .acc-total-div {
    width: 160%;
  }
  .acc-table-data-scroll {
    overflow-x: hidden;
    width: 160%;
  }
  .acc-table-no-scroll {
    width: 160%;
  }
  .acc-filter2-div{
    display:block;
    margin:0%;
  }
  .acc-doc-filter{
    width: 100%;
    padding: 0 12px;
  }
  .mob-dis-n{
    display:none;
  }
  .mob-dis-b{
    display:block;
  }
  .acc-mob-fil-btn{
    display:flex;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 1%;
  }
  .acc-m-t{
    margin-top: 0;
  }
}
@media only screen and (max-width: 475px) {
  .detail-size {
    font-size: 18px;
  }
}
@media only screen and (max-width: 425px) {
  .acc-date-filter {
    display: block;
  }
  .customer-total-debit {
    width: 29%;
  }
  .acc-year-div,
  .acc-start-date,
  .acc-end-date {
    width: 100%;
  }
  .doc-row {
    font-size: 9px;
  }
  .acc-table-data-font {
    font-size: 11px;
  }
  .acc-total-div {
    font-size: 13px;
  }
  .cust-data-text {
    font-size: 11px;
  }
  .cust-data {
    font-size: 11px;
  }
  .cust-info-div {
    display: block;
  }
  .first-block {
    width: 100%;
    border: none;
  }
  .second-block {
    width: 100%;
    border: none;
  }
  .third-block {
    width: 100%;
    border: none;
  }
  .lab-btn,
  .mobile-cust-text {
    margin-bottom: 7px;
  }
  .cust-data-mobile-1 {
    margin-left: 16.5%;
  }
  .cust-data-mobile-2 {
    margin-left: 5%;
  }
  .cust-data-mobile-3 {
    margin-left: 17%;
  }
  .filter-div {
    display: block;
  }
  .filter-icon-div {
    display: none;
  }
  .quarter-div,
  .year-div {
    width: 100%;
    padding-right: 2%;
  }
  .mobile-ledger-statement-btn {
    text-align: center;
  }

  .table-head-div {
    overflow-x: auto;
    margin-right: 3%;
  }
  .mobile-table-font {
    font-size: 11px;
  }
  .table-data-scroll {
    width: 265%;
  }
  .ledger-table-head-width {
    width: 265%;
  }
  .open-bal-div,
  .close-bal-div,
  .customer-total-div {
    width: 265%;
    font-size: 13px;
  }
  .table-no-scroll {
    width: 265%;
  }
  .acc-table-head-width {
    width: 200%;
  }
  .acc-total-div {
    width: 200%;
  }
  .acc-table-data-scroll {
    overflow-x: hidden;
    width: 200%;
  }
  .acc-table-no-scroll {
    width: 200%;
  }
}
@media only screen and (max-width: 411px) {
  .cust-data-mobile-1 {
    margin-left: 17.5%;
  }
  .cust-data-mobile-3 {
    margin-left: 18%;
  }
  .cust-data-mobile-2 {
    margin-left: 5.5%;
  }
}
@media only screen and (max-width: 375px) {
  .ledger-table-head-width {
    width: 300%;
  }
  .detail-size {
    font-size: 15px;
  }
  .open-bal-div,
  .close-bal-div,
  .customer-total-div {
    width: 300%;
    font-size: 13px;
  }
  .doc-desc {
    font-size: 20px;
  }
  .table-data-scroll {
    width: 300%;
  }
  .table-no-scroll {
    width: 300%;
  }
  .cust-data-mobile-1 {
    margin-left: 17.5%;
  }
  .cust-data-mobile-3 {
    margin-left: 17.5%;
  }
  .cust-data-mobile-2 {
    margin-left: 4%;
  }
}
@media only screen and (max-width: 360px) {
  .cust-data-mobile-1 {
    margin-left: 21.5%;
  }
  .cust-data-mobile-2 {
    margin-left: 7.5%;
  }
  .cust-data-mobile-3 {
    margin-left: 22%;
  }
}
@media only screen and (max-width: 320px) {
  .cust-data-mobile-2 {
    margin-left: 8%;
  }
  .cust-data-mobile-1 {
    margin-left: 23.5%;
  }
  .cust-data-mobile-3 {
    margin-left: 24%;
  }
  .ledger-table-head-width {
    width: 340%;
  }
  .table-data-scroll {
    width: 340%;
  }
  .table-no-scroll {
    width: 340%;
  }
  .open-bal-div,
  .close-bal-div,
  .customer-total-div {
    width: 340%;
  }
  .detail-size {
    font-size: 14px;
  }
}