.error{
	background: white;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    padding: 10px;
    border: 1px solid grey;
	color:#b58224;
}

.slds-popover_error{
display : none !important; }