.odr-size {
    font-size: 23px;
    color: black;
}
.bar-scroll {
    margin: 2% 2% 0 2%;
    overflow-x: auto;
}
.status-bar {
    background-color: white;
    border-radius: 50%;
}
.cust-data {
    margin-left: 6%;
    color: #000000;
    font-size: 16px;
}
.pointer {
    cursor: pointer;
}
.carousel-top-pad {
    margin-top: -36px;
    margin-bottom: -55px;
}
.greycol {
    color: #c0c0c0;
}

.nodatacss {
    border-radius: 4px;
    opacity: 1;
    background-color: white;
    padding: 2%;
}

.pointer {
    cursor: pointer;
}
.p-table-head,
.i-table-head {
    background-color: #f8f8f8;
    color: #888;
}
.p-table-head-css,
.i-table-head-css {
    height: 40px;
}
.p-table-body,
.i-table-body {
    color: black;
}
.p-table-body-css,
.i-table-body-css {
    height: 40px;
}
.product-table-scroll,
.invoice-table-scroll {
    overflow-x: auto;
}
.product-table-width {
    background: white;
}
.invoice-table-width {
    background: white;
}
.order-icon {
    height: 40px;
    width: 40px;
    border: 1px solid grey;
    padding: 5px;
    margin-top: 11px;
    border-radius: 50%;
}
.headingClass {
    font-size: 22px;
    color: #000000;
}
.borderbottom {
    padding-bottom: 1%;
    border-bottom: 1px solid #dddddd;
}
.orderDataClass {
    font-weight: bold;
}
.borderleft {
    border-left: 1px solid #e5e5e5;
}
.data-font-size {
    font-size: 14px;
}
.xml-css {
    padding-left: 3%;
}
.dwnld-btn {
    padding-left: 2%;
}
.dwnldLinkBtn {
    border: 2px solid rgb(255 136 51);
    background-color: #fff;
    color: #000;
    padding: 0px 4px;
    font-size: 10px;
    font-weight: 700;
}
  
@media screen and (max-width: 768px) {
    .dwnld-btn {
      padding-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .hidePadding {
        padding: 0px;
    }
    .borderleft {
        border-left: 0;
    }
    .dwnld-btn {
        padding-left: 3%;
    }
}

@media screen and (max-width: 600px) {
    .product-table-width,
    .invoice-table-width {
      width: 130%;
    }
    .status-bar {
      width: 140%;
    }
}

@media screen and (max-width: 475px) {
    .detail-size {
      font-size: 18px;
    }
    .odr-size {
      font-size: 18px;
    }
    .status-bar {
      width: 190%;
    }
    .order-icon {
      height: 35px;
      width: 35px;
    }
    .product-table-width,
    .invoice-table-width {
      width: 150%;
    }
}

@media screen and (max-width: 400px) {
    .data-font-size {
      font-size: 12px;
    }
    .product-table-width,
    .invoice-table-width {
      width: 170%;
    }
}
@media screen and (max-width: 375px) {
    .product-table-width,
    .invoice-table-width {
        width: 200%;
    }
    .detail-size {
        font-size: 15px;
    }
    .dwnld-btn {
        padding-left: 0;
    }
    .odr-size {
        font-size: 15px;
    }
    .bread-crumb-cls {
        font-size: 11px;
        margin-top: 2%;
    }
    .order-icon {
        height: 30px;
        width: 30px;
    }
    .status-bar {
        width: 210%;
    }
}
@media screen and (max-width: 320px) {
    .detail-size {
        font-size: 14px;
    }
    .odr-size {
        font-size: 14px;
    }
    .status-bar {
        width: 230%;
    }
}