.THIS .slds-button_success, .THIS .slds-button--success {
        background:Transparent; text-transform:uppercase; 
        padding:7px 10px 7px 10px;
        color:#fff; border:1px solid #fff; 
        border-radius:0;
    }
    
    .THIS .slds-button_success:hover, .THIS .slds-button--success:hover {
        background:#fff; text-transform:uppercase;
        color:#ff7701; border-radius:0;
    }