.THIS .textCSS{
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size:20px;
}

.THIS.mainCSS{
    background: white !important;
    border: 1px solid #DDDDDD;
    position: relative; 
}