.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 30px;
    font-family: 'myfontlight';
    width:50%;
    display: flex;
  }
  
  .text-style{
    font-family:myfontregular;
    font-size: 14px;
    text-align: justify;
    color:#000;
  }
  
  .text2-style{
    font-family:myfontlight;
    font-weight:normal;
    font-size:16px; color:#ff7701;
  }
  
  
  
  .titleregular{
    font-family:myfontlight;
    font-weight:normal;
    font-size:36px;
    color:#000
  }
  @font-face {
    font-family: 'myfontlight';
    src: url(/resource/myfontlight); 
  }
  
  @font-face {
    font-family: 'myfontregular';
    src: url(/resource/myfontregular); 
  }
  
  .transbtn {
    background:#fff; text-transform:uppercase; 
    padding-left:25px; padding-right:25px;
    padding-top:5px; padding-bottom:5px;
    color:#ff7701; border:1px solid #ff7701; 
    border-radius:0; width:30%;
    margin-top:10px; margin-bottom:5px;
  }
  .transbtn:hover {
    background:#fff; text-transform:uppercase;
    color:#ff7701; border-radius:0;
  }