.text-section {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 98%;
  top: 3%;
  font-size: x-large;
}
.alert-msg{
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.pointerClass{
  margin-top: -38px; 
  margin-left: 168px; 
  z-index: 1; 
  cursor: pointer; 
  position: absolute;
}
.noteclass {
  color: rgb(136, 136, 136);
}
.download-div {
  padding: 13px 0 13px 12px;
  background-color: #f8f8f8;
}
.headerBodyCSS {
  background-color: #f7f7f7;
  color: #888888;
}
.download-icon {
  padding-right: 10px;
}
.dwnld-btn {
  border: 2px solid #f83;
  padding: 2px 10px;
  font-size: 10px;
  background-color: white;
  color: black;
}
.btnclass {
  width: 100%;
  margin-left: 27%;
  /* max-width: 200px; 
  min-width: 150px; */
}
.btn-br {
  margin-left: 10%;
}
.exampleHolder {
  position: relative;
}
.spinner {
  position: absolute;
}

.maindivcss {
  padding: 1%;
  background-color: white;
  min-height: 525px;
}

.div1padding {
  padding-bottom: 15px;
}

.tableheadercss {
  height: 40px;
  min-width: 150px;
}

.tabledatacss {
  height: 40px;
}

.textoverflowcls {
  padding-right: 5%;
  /* max-width: 155px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textCls {
  font-weight: bold;
  color: #000;
  font-size: 30px;
}

.blueBtn {
  border-radius: 0%;
  background-color: #00bdf2;
  border-color: #00bdf2;
  color: #ffffff;
  font-weight: bold;
}
.comboboxfloat {
  float: right;
  width: 180px;
}

.nodatacss {
  opacity: 1;
  background-color: white;
  padding: 2%;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}
.parent-filter {
  margin-bottom: 1%;
  width: 39.5%;
}
.left-filter {
  display: flex;
  justify-content: space-between;
  width: 59%;
}
.right-filter {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.year-filter {
  width: 64%;
  display: flex;
  justify-content: space-between;
}
.search-filter {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.date-filter {
  width: 49%;
}
.type-filter {
  width: 49%;
}
.search-box {
  width: 100%;
  position: relative;
}
.close-icon {
  position: absolute;
  top: 43%;
  right: 2%;
}
.mrg-tp {
  margin-top: 24px;
}
.search-btn {
  width: 0%;
}
.spinner-css {
  margin-top: 10%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .search-filter {
    width: 42%;
  }
  .year-filter{
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .left-filter {
    width: 55%;
  }
  .right-filter {
    width: 44%;
  }
  .search-box {
    width: 80%;
  }
  .search-btn {
    width: 20%;
  }
  .mrg-tp {
    margin-top: 25px;
  }
  .close-icon {
    top: 44%;
  }
  .search-filter {
    width: 36%;
  }
  .year-filter {
    width: 64%;
    display: flex;
    justify-content: space-between;
  }
  .date-width {
    width: 50%;
  }
  .parent-filter{
    width: 48.5%;
  }
}
@media only screen and (max-width: 1023px) {
  .filter-section {
    display: block;
  }
  .left-filter {
    width: 100%;
  }
  .right-filter {
    width: 100%;
    margin-left: 12px;
    padding-right: 12px;
  }
  .parent-filter{
    width: 49%;
  }
}
@media only screen and (max-width: 1023px) and (min-device-width: 768px) {
  .btnclass {
    margin-left: 5%;
  }
  .br-textCls {
    font-size: 24px;
  }
  .parent-filter{
    width: 100%;
    padding-right: 12px;
  }
}

@media screen and (max-width: 767px) {
  .btnclass {
    width: 100%;
    margin-left: 0%;
    /* max-width: 200px; 
    min-width: 150px; */
  }
  .setwidth{
    width: 100%;
  }
  .download-div {
    text-align: center;
  }
   .shadoweffect{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .mobilebtnpadding {
    padding-top: 2%;
  }
  .parent-filter{
    width: 100%;
    padding-right: 12px;
  }
  .maindivcss {
    background-color: #f7f7f7;
  }

  .bgcolormobile {
    background-color: white;
  }

  .tablepadding {
    padding-top: 3%;
  }
  .pointerClass {
     margin-left: 85%; 
    
  }

  .tabledatacss {
    height: 30px;
  }

  .textoverflowcls {
    line-height: 30px;
    padding-right: 2%;
    max-width: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .comboboxfloat {
    float: left;
    width: 230px;
  }

  .textCls {
    font-weight: bold;
    color: #000;
    font-size: 22px;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border-bottom: 0px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  td {
    /* Behave  like a "row" */
    /* border: none;
		border-bottom: 1px solid #eee;  */
    position: relative;
    padding-left: 35%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 33%;
    padding-right: 10px;
    white-space: nowrap;
  }
  @media screen and (max-width: 420px) {
    .textoverflowcls {
      line-height: 30px;
      padding-right: 2%;
      max-width: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Case Number:";
  }
  td:nth-of-type(2):before {
    content: "Subject:";
  }
  td:nth-of-type(3):before {
    content: "Status:";
  }
  td:nth-of-type(4):before {
    content: "Owner:";
  }
  td:nth-of-type(5):before {
    content: "Date Created:";
  }
  td:nth-of-type(6):before {
    content: "Date Closed:";
  }
  td:nth-of-type(7):before {
    content: "Updated On:";
  }
  td:nth-of-type(8):before {
    content: "Type:";
  }

  .br-mobile-view:nth-of-type(1):before {
    content: "Atendimento:";
    
  }
  .br-mobile-view:nth-of-type(2):before {
    content: "Assunto:";
  }
  .br-mobile-view:nth-of-type(3):before {
    content: "Status:";
  }
  .br-mobile-view:nth-of-type(4):before {
    content: "Analista:";
  }
  .br-mobile-view:nth-of-type(5):before {
    content: "Data de Criação:";
  }
  .br-mobile-view:nth-of-type(6):before {
    content: "Última Atualização:";
  }
  .br-mobile-view:nth-of-type(7):before {
    content: "Tipo do Atendimento:";
  }


  .mx-mobile-view:nth-of-type(1):before {
    content: "Número de caso:";
  }
  .mx-mobile-view:nth-of-type(2):before {
    content: "Asunto:";
  }
  .mx-mobile-view:nth-of-type(3):before {
    content: "Estado:";
  }
  .mx-mobile-view:nth-of-type(4):before {
    content: "Creado por:";
  }
  .mx-mobile-view:nth-of-type(5):before {
    content: "Fecha de creación:";
  }
  .mx-mobile-view:nth-of-type(6):before {
    content: "Última actualización:";
  }
  .mx-mobile-view:nth-of-type(7):before {
    content: "Tipo de caso:";
  }

}
@media only screen and (max-width: 660px) {
    .pointerClass {
     margin-left: 82%; 
    
  }

}
@media only screen and (max-width: 535px) {
  .left-filter,
  .right-filter {
    display: block;
    padding-right: 0;
    margin-left: 0;
  }
  .parent-filter{
    width: 100%;
    padding-right: 12px;
  }
  .pad-l {
    padding-left: 0;
  }
  .pointerClass {
     margin-left: 80%; 
    
  }
  .search-box {
    width: 230%;
  }
  .search-filter {
    width: 100%;
    margin-left: 0%;
    padding-right: 0%;
  }
  .year-filter {
    width: 100%;
    margin-left: 12px;
    padding-right: 12px;
  }
  .mrg-tp {
    margin-top: 10px;
  }
  .type-filter,
  .date-filter {
    width: 100%;
    margin-left: 12px;
    padding-right: 12px;
    padding-top: 2%;
  }
  .close-icon {
    top: 27%;
  }
}
@media screen and (max-width: 425px) {
  .br-mobile-view {
    padding-left: 40%;
  }
  .mx-mobile-view{
    padding-left: 40%;
  }
   .pointerClass {
     margin-left: 75%; 
    
  }
}
@media screen and (max-width: 375px) {
  .br-mobile-view {
    padding-left: 46%;
  }
  .mx-mobile-view{
    padding-left: 46%;
  }
}
@media only screen and (max-width: 319px) {
  .year-filter {
    display: block;
  }
  .date-width {
    padding-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .br-mobile-view {
    padding-left: 52%;
  }
  .mx-mobile-view{
    padding-left: 52%;
  }
  .mob-font-pageination {
    font-size: 11px;
  }
}