.THIS.fsize {
    font-size:18px;
}
.THIS .icn svg{
 fill: #fb8c8c;  
}
.THIS .action {
    width: 10%;
}
.THIS .SK {
    color:RED;
}

.THIS .hiddenTextbox {
    Display:None;
}
.THIS .disabled {
    background: #dddddd;
}
.THIS .hide-error-message > .slds-form-element__help {
    display: none;
}
.THIS .error{
    background:Pink
}