.THIS {
    font-family:myfontregular; 
    font-size:12px; color:#000;
    font-weight:normal !important;
}
@font-face {
    font-family:myfontregular; 
    font-size:12px; color:#000;
    font-weight:normal !important;
    src: url(/resource/myfontregular) 
}
@font-face {
    font-family:myfontlight; 
    font-size:12px; color:#000;
    font-weight:normal !important;
    src: url(/resource/myfontlight) 
}
.THIS label {
    font-family:myfontregular;
    font-weight:normal;
    font-size:12px; color:#000;
}
.THIS .titleregular {
    font-family:myfontlight;
    font-weight:normal;
    font-size:36px; color:#000;
}
.THIS .slds-box {
    font-family:myfontregular;
    font-weight:normal!important;
    font-size:12px;
    color:#000;
}
.THIS .slds-button_success, .THIS .slds-button--success {
    background:#fff; text-transform:uppercase; 
    padding-left:25px; padding-right:25px;
    color:#ff7701; border:1px solid #ff7701; 
    border-radius:0;
}
.THIS .slds-button_success:hover, .THIS .slds-button--success:hover {
    background:#fff; text-transform:uppercase;
    color:#ff7701; border-radius:0;
}
.THIS.hideLabel label{
    display:none;
    font-weight:normal;
    font-size:12px;
}
.THIS .box{
    font-family:myfontregular;
    font-weight:normal!important;
    background:#fff;
    opacity:0.8;
    text-align:center;
    margin:10px;
}
.THIS .banner {
    background-image: url("../resource/1611918305000/uplgrass") !important;
    background-repeat: no-repeat;
    background-size: auto; 
    background-position: center;
   
}