.headingCss{
    background:#fff; 
    padding:15px; 
    border-radius:5px 5px 0 0;
}
.tableCss{
    max-height: 440px; 
    overflow-y:scroll;
}
.table_fixed{
    position: relative;
}
.th_fixed{
    position: sticky;
    top: 0;
    background: #FAFAF9;
    z-index: 1;
}
.tr_fixed{
    z-index: 0;
}
.hide_col{
    display: none;
}